@import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap');

html, body {
    width: 100%;
    height: 100%;
    background-color: bisque;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'El Messiri', sans-serif;
}

#container {
    width: 100%;
    height: 100%;
    background-color: bisque;
}

#grafic-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    filter: blur(10px);
}

#main-img {
    width: 69%;
    position: absolute;
    top: 0;
    height: auto;
}

.mother-title-img {
    position: absolute;
    top: 8%;
    left: 20%;
    width: 400px;
    height: 300px;
    opacity: 0;
}

.mother-description-img {
    position: absolute;
    top: 28%;
    left: 15%;
    width: 400px;
    height: 300px;
    opacity: 0;
}

.fade-in {
    animation: fade-in 1s ease-in-out;
    opacity: 1;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#music-btn {
    position: absolute;
    left: 5%;
    bottom: 5%;
    outline: none;
    border: 1px solid purple;
    border-radius: 50%;
    font-size: 30px;
    width: 65px;
    height: 65px;
    cursor: pointer;
    padding-top: 10px;
    color: purple;
    background-color: transparent;
}

.play {
    padding-left: 3px;
}

#music-btn.play .fa-pause {
    display: none;
}

#music-btn.pause .fa-play {
    display: none;
}

.height-110 {
    height: 100%;
}

#data-modal {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    position: absolute;
    top: 25%;
    left: 35%;
    background-color: #108ea5;
    border: 1px solid #108ea5;
    border-radius: 10px;
    opacity: 1;
    color: whitesmoke;
    z-index: 10;
    overflow: hidden;
    animation: popdown 1s ease-in-out;
}

.display-none {
    display: none !important;
}

@keyframes popdown {
    from {
        top: -25%;
        opacity: 0;
    }

    to {
        top: 25%;
        opacity: 1;
    }
}

#inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.input {
    width: 70%;
    height: 40px;
    font-size: 18px;
    background-color: whitesmoke;
    border: 1px solid transparent;
    border-radius: 10px;
    outline: none;
    color: black;
    padding: 10px;
}

.input::placeholder {
    opacity: 0.6;
    font-size: 15px;
}

#data-modal h1 {
    font-size: 40px;
    color: whitesmoke;
    direction: rtl;
}

#data-modal p {
    direction: rtl;
    color: whitesmoke;
    font-size: 25px;
}

#submit-btn {
    outline: none;
    width: 70%;
    height: 40px;
    border: 1px solid #dc8501;
    border-radius: 10px;
    color: whitesmoke;
    background-color: #dc8501;
    font-size: 23px;
    cursor: pointer;
}

#data-modal small {
    color: rgb(255, 41, 41);
    text-align: center;
    direction: rtl;
    display: none;
    font-size: 20px;
}

.display-inline {
    display: inline !important;
}

#footer {
    margin-top: 20px;
    width: 100%;
    height: 50px;
    background-color: #dc8501;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    text-align: center;
}

@media only screen and (max-width: 780px) {
    #main-img {
        width: 160%;
        height: 100%;
        top: 0;
        right: -73%;
        display: none;
    }

    .mother-title-img, .mother-description-img {
        width: 150px;
        height: 130px;
    }

    .mother-title-img {
        left: 12%;
    }

    #grafic-container {
        background-image: url(../Images/mo\ mo2.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top 0 left 0;
        margin-bottom: 50px;
    }

    .mother-description-img {
        top: 22%;
        left: 3%;
    }

    #footer {
        font-size: 13px;
    }

    #data-modal {
        left: 5%;
        width: 90%;
        margin: auto;
    }

    #data-modal h1 {
        font-size: 24px;
    }

    #data-modal p {
        font-size: 22px;
    }

    .input {
        width: 100%;
        font-size: 16px;
    }

    .input::placeholder {
        font-size: 13px;
    }

    #submit-btn {
        width: 100%;
    }

    #data-modal small {
        font-size: 14px;
    }

    body {
        overflow-x: hidden;
    }
}

#spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    padding: 50px;
    display: none;
}

.mainbox {
    position: relative;
    width: 500px;
    height: 500px;
}

.mainbox:after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 5%;
    top: 48%;
    transform: rotate(90deg);
}

.box {
    position: relative;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    border: 10px solid whitesmoke;
    overflow: hidden;
    transition: all ease-in-out 5s;
    transform: rotate(90deg);
}

.mainbox > i {
    position: absolute;
    top: 45%;
    right: -5%;
    color: #333;
    font-size: 50px;
}

span {
    width: 100%;
    height: 100%;
    position: absolute;
    display: inline-block;
}

.span1 {
    clip-path: polygon(0 17%, 0 50%, 50% 50%);
    background-color: #dc8501;
}

.span2 {
    clip-path: polygon(0 17%, 30% 0, 50% 50%);
    background-color: #108ea5;
}

.span3 {
    clip-path: polygon(30% 0%, 71% 0, 50% 50%);
    background-color: #dc8501;
}

.span4 {
    clip-path: polygon(71% 0, 100% 18%, 50% 50%);
    background-color: #108ea5;
}

.span5 {
    clip-path: polygon(100% 18%, 100% 50%, 50% 50%);
    background-color: #dc8501;
}

.box2{
    width: 100%;
    height: 100%;
    transform: rotate(180deg);
}

.box2 .span1 {
    background-color: #108ea5;
}

.box2 .span2 {
    background-color: #dc8501;

}

.box2 .span3 {
    background-color: #108ea5;
}

.box2 .span4 {
    background-color: #dc8501;
}

.box2 .span5 {
    background-color: #108ea5;
}

.font {
    color: #fff;
    font-size: 20px;
}

h5 {
    font-size: 30px;
}

.box1 .span1 h5 {
    position: absolute;
    top: 37%;
    right: 68%;
    transform: rotate(200deg);
    text-align: center;
}

.box1 .span2 h5 {
    position: absolute;
    top: 24%;
    right: 58%;
    transform: rotate(-130deg);
    text-align: center;
}

.box1 .span3 h5 {
    position: absolute;
    top: 19%;
    right: 41%;
    transform: rotate(-90deg);
    text-align: center;
}

.box1 .span4 h5 {
    position: absolute;
    top: 25%;
    right: 24%;
    transform: rotate(-45deg);
    text-align: center;
}

.box1 .span5 h5 {
    position: absolute;
    top: 38%;
    right: 15%;
    transform: rotate(-15deg);
    text-align: center;
}

.box2 .span1 h5 {
    position: absolute;
    top: 36%;
    right: 70%;
    transform: rotate(200deg);
    text-align: center;
}

.box2 .span2 h5 {
    position: absolute;
    top: 23%;
    right: 58%;
    transform: rotate(-130deg);
    text-align: center;
}

.box2 .span3 h5 {
    position: absolute;
    top: 20%;
    right: 42%;
    transform: rotate(270deg);
    text-align: center;
}

.box2 .span4 h5 {
    position: absolute;
    top: 25%;
    right: 25%;
    transform: rotate(310deg);
    text-align: center;
}

.box2 .span5 h5 {
    position: absolute;
    top: 38%;
    right: 17%;
    transform: rotate(-20deg);
    text-align: center;
}

.spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85px;
    height: 85px;
    border-radius: 50%;
    border: 4px solid whitesmoke;
    background-color: #108ea5;
    color: whitesmoke;
    box-shadow: 0 5px 20px #333;
    font-size: 22px;
    cursor: pointer;
    z-index: 100;
}

.spin:active {
    width: 80px;
    height: 80px;
    font-size: 20px;
}

.mainbox.animate:after {
    animation: animateArrow 0.7s ease-in infinite;
}

@keyframes animateArrow {
    50% {
        right: -50px;
    }
}

.prize-modal {
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 30px;
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 20px;
    position: absolute;
    z-index: 1000;
    display: none;
    opacity: 0;
    transition: all 0.5s;
}

.show-modal {
    opacity: 1;
    display: flex;
}

.prize-modal h1 {
    font-size: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.prize-modal h1 i {
    color: red;
    font-size: 50px;
}

.prize-modal p {
    font-size: 20px;
    text-align: center;
}

.prize-modal.show-modal ~ .mainbox {
    filter: blur(5px);
}

.prize-modal button {
    width: 90%;
    height: 50px;
    font-size: 20px;
    background-color: #dc8501;
    border: 1px solid #dc8501;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}


@media only screen and (max-width: 780px) {
    #main-img {
        width: 160%;
        height: 100%;
        top: 0;
        right: -73%;
        display: none;
    }

    .mother-title-img, .mother-description-img {
        width: 150px;
        height: 130px;
    }

    .mother-title-img {
        left: 12%;
    }

    #grafic-container {
        background-image: url(../Images/mo\ mo2.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top 0 left 0;
        margin-bottom: 50px;
    }

    .mother-description-img {
        top: 22%;
        left: 3%;
    }

    #footer {
        font-size: 13px;
    }

    #data-modal {
        left: 5%;
        width: 90%;
        margin: auto;
    }

    #data-modal h1 {
        font-size: 24px;
    }

    #data-modal p {
        font-size: 22px;
    }

    .input {
        width: 100%;
        font-size: 16px;
    }

    .input::placeholder {
        font-size: 13px;
    }

    #submit-btn {
        width: 100%;
    }

    #data-modal small {
        font-size: 14px;
    }

    body {
        overflow-x: hidden;
    }

    .mainbox {
        width: 300px;
        height: 290px;
    }

    .mainbox > i {
        position: absolute;
        top: 45%;
        right: -20%;
        color: #333;
        font-size: 30px;
    }

    .spin {
        font-size: 12px;
        width: 50px;
        height: 50px;
    }

    .spin:active {
        width: 55px;
        height: 55px;
    }

    h5 {
        font-size: 17px;
    }

    .prize-modal {
        width: 100%;
    }

    #spinner-container {
        padding: 0;
    }

}